<web-app>
    <servlet>
        <servlet-name>ShowTasks</servlet-name>
        <servlet-class>com.hitime.servlets.ShowTasks</servlet-class>
    </servlet>
   	<servlet-mapping>
        <servlet-name>ShowTasks</servlet-name>
        <url-pattern>/ShowTasks</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddTask</servlet-name>
        <servlet-class>com.hitime.servlets.AddTask</servlet-class>
    </servlet>
   	<servlet-mapping>
        <servlet-name>AddTask</servlet-name>
        <url-pattern>/AddTask</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddTaskShow</servlet-name>
        <servlet-class>com.hitime.servlets.AddTaskShow</servlet-class>
    </servlet>
   	<servlet-mapping>
        <servlet-name>AddTaskShow</servlet-name>
        <url-pattern>/AddTaskShow</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddProject</servlet-name>
        <servlet-class>com.hitime.servlets.AddProject</servlet-class>
    </servlet>
   	<servlet-mapping>
        <servlet-name>AddProject</servlet-name>
        <url-pattern>/AddProject</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddProjectShow</servlet-name>
        <servlet-class>com.hitime.servlets.AddProjectShow</servlet-class>
    </servlet>
   	<servlet-mapping>
        <servlet-name>AddProjectShow</servlet-name>
        <url-pattern>/AddProjectShow</url-pattern>
    </servlet-mapping>
</web-app>
